<div class="index">
<h1>Books</h1>
<!--投稿一覧のコード-->
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td>
        <%= link_to 'Show', book_path(book) %>
        <%= link_to 'Edit', edit_book_path(book) %>
        <%= link_to 'Destroy', book_path(book), method: :delete, data:{ confirm: "Are you sure?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<!--新規投稿フォーム-->
<h2>New Book</h2>

<%= form_with(model: @book, local: true) do |f| %>
<% if @book.errors.any? %>
<div class="error-display">
  <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
  <ul>
    <% @list.errors.full_messages.each do |messages| %>
    <li><%= messages %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div>
  <p class="index-p">Title</p>
  <%= f.text_field :title %>
</div>

<div>
  <p class="index-p">Body</p>
  <%= f.text_area :body %>
</div>

<div>
  <%= f.submit "Create Book" %>
</div>
<% end %>
</div>